
.logo {
    height: auto;
    width: 300px;
}

.headerFont {
    font-weight: 600;
}

.headerIMG {
    filter: brightness(50%);
}

.paragraph {
    text-align: justify;
}

.active {
    font-weight: 600;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

p, span {
    font-size: 16px;
}
